h1 {
  font-size: 60px;
  color: rgb(78, 33, 201);
  text-align: center;
  font-weight: bold;
}
h2 {
  color: white;
}
p {
  color: white;
}
li {
  color: yellow;
}
img {
  width: 300px;
  margin-left: 500px;
  margin-right: 500px;
}
span {
  color: black;
  border-radius: 2px;
  margin: 10px 2px 15px 2px;
  background-color: yellow;
  font-weight: bold;
}
main {
  background-color: rgb(78, 33, 201);
  margin: 200px 200px 200px 200px;
  border-radius: 20px;
  padding: 15px 40px;
  margin-top: 50px;
}
