body {
  background-color: rgb(231, 200, 205);
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 60px;
  color: rgb(134, 33, 201);
}
header {
  text-align: center;
  font-weight: bold;
  padding: 32px;
}

main {
  background-color: rgb(134, 33, 201);
  margin: 32px auto;
  border-radius: 8px;
  padding: 32px;
  width: 700px;
  color: rgb(248, 241, 255);
}

li {
  color: yellow;
  margin: 12px;
  padding-left: 10px;
  border-left: 5px solid transparent;
}
header img {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  margin-bottom: 100px;
}
a:hover,
a:active {
  background-color: rgb(255, 186, 58);
}
footer a {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: rgb(250, 201, 39);
  color: rgb(66, 51, 4);
}
footer p {
  color: rgb(131, 113, 149);
  margin-top: 30px;
}

footer a:hover,
footer a:active {
  background-color: rgb(255, 186, 58);
}
a {
  text-decoration: none;
  color: rgb(36, 3, 102);
  background-color: rgb(255, 237, 177);
  padding: 2px 6px;
  border-radius: 4px;
}
